<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean id="userDAO" class="com.cpi.is.dao.impl.UserDAOImpl"></bean>
  <bean id="userService" class="com.cpi.is.service.impl.UserServiceImpl" depends-on="userDAO">
    <property name ="userDAO" ref="userDAO"/>
  </bean>

  <bean id="finishedProductListDAO" class="com.cpi.is.dao.impl.FinishedProductListDAOImpl"></bean>
  <bean id="finishedProductListService" class="com.cpi.is.service.impl.FinishedProductListServiceImpl" depends-on="finishedProductListDAO">
    <property name ="finishedProductListDAO" ref="finishedProductListDAO"/>
  </bean>

  <bean id="dispatchingDAO" class="com.cpi.is.dao.impl.DispatchingDAOImpl"></bean>
  <bean id="dispatchingService" class="com.cpi.is.service.impl.DispatchingServiceImpl" depends-on="dispatchingDAO">
    <property name ="dispatchingDAO" ref="dispatchingDAO"/>
  </bean>

  <bean id="dispatchTypeDAO" class="com.cpi.is.dao.impl.maintenance.DispatchTypeDAOImpl"></bean>
  <bean id="dispatchTypeService" class="com.cpi.is.service.impl.maintenance.DispatchTypeServiceImpl" depends-on="dispatchTypeDAO">
    <property name="dispatchTypeDAO" ref="dispatchTypeDAO" />
  </bean>

  <bean id="rawMaterialListDAO" class="com.cpi.is.dao.impl.RawMaterialListDAOImpl"></bean>
  <bean id="rawMaterialListService" class="com.cpi.is.service.impl.RawMaterialListServiceImpl" depends-on="rawMaterialListDAO">
    <property name ="rawMaterialListDAO" ref="rawMaterialListDAO"/>
  </bean>
  
  <bean id="productionMaterialDAO" class="com.cpi.is.dao.impl.ProductionMaterialDAOImpl"></bean>
  <bean id="productionMaterialService" class="com.cpi.is.service.impl.ProductionMaterialServiceImpl" depends-on="productionMaterialDAO">
    <property name="productionMaterialDAO" ref="productionMaterialDAO" />
  </bean>
  
  <bean id="dailyPlanDAO" class="com.cpi.is.dao.impl.DailyPlanDAOImpl"></bean>
  <bean id="dailyPlanService" class="com.cpi.is.service.impl.DailyPlanServiceImpl" depends-on="dailyPlanDAO">
    <property name ="dailyPlanDAO" ref="dailyPlanDAO"/>
  </bean>
  
  <bean id="branchDAO" class="com.cpi.is.dao.impl.maintenance.BranchDAOImpl"></bean>
  <bean id="branchService" class="com.cpi.is.service.impl.maintenance.BranchServiceImpl" depends-on="branchDAO">
    <property name="branchDAO" ref="branchDAO" />
  </bean>
  
  <bean id="skuCodeDAO" class="com.cpi.is.dao.impl.maintenance.SkuCodeDAOImpl"></bean>
  <bean id="skuCodeService" class="com.cpi.is.service.impl.maintenance.SkuCodeServiceImpl" depends-on="skuCodeDAO">
    <property name="skuCodeDAO" ref="skuCodeDAO" />
  </bean>
  
  <bean id="materialCodeDAO" class="com.cpi.is.dao.impl.maintenance.MaterialCodeDAOImpl"></bean>
  <bean id="materialCodeService" class="com.cpi.is.service.impl.maintenance.MaterialCodeServiceImpl" depends-on="materialCodeDAO">
    <property name="materialCodeDAO" ref="materialCodeDAO" />
  </bean>
  
  <bean id="userMaintenanceDAO" class="com.cpi.is.dao.impl.maintenance.UserMaintenanceDAOImpl"></bean>
  <bean id="userMaintenanceService" class="com.cpi.is.service.impl.maintenance.UserMaintenanceServiceImpl" depends-on="userMaintenanceDAO">
    <property name="userMaintenanceDAO" ref="userMaintenanceDAO" />
  </bean>
</beans>