@charset "UTF-8";

body {
    background-image: url('../images/bg3.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.1);
    background-attachment: fixed;
    font-family: 'Century Gothic';
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

/* input[type="number"] {
    -moz-appearance: textfield;
} */
.hidden {
  display: none;
}


img{
  -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
-ms-user-select: none;
user-select: none;

-webkit-user-drag: none;
-khtml-user-drag: none;
-moz-user-drag: none;
-o-user-drag: none;
-ms-user-drag: none;
user-drag: none;
}

form h1 {
  text-align:center;
  font-family: 'Courier New';
  font-size: 70px;
  color: #244C66; 
  text-shadow: 
     1px 1px 0 #ccd0d2, 
    -1px -1px 0 #ccd0d2,
    1px -1px 0 #ccd0d2, 
    -1px 1px 0 #ccd0d2;
}

label{
font-size:18px;
color:#422308;
font-weight:bold;
}

fieldset{
  user-select: none;
  border: 2px solid#68411b;
  background-color:white;
}  

footer {
    text-align: center;
}

.reports{
    display:inline;
    border-radius: 5px;
}

@media screen{
  .dashboardbox{
  flex-wrap:wrap;
  min-width: 500px;
  min-height: 300px;
  }
}

.dashboardbox{
  display:flex;
  flex-grow:1;
  max-width:500px;
  max-height: 300px;
  margin:20px;
  border-radius: 20px;
  user-select: none;
  box-shadow: 4px 4px 9px -3px rgba(0, 0, 0, 0.82);
}

.dashboardbox h1{
  display:flex;
  position: absolute;
  font-weight:bold;
  margin-top: 10px;
  margin-left: 20px;
  font-size:50px;
  z-index:3;
  text-shadow: 3px 2px 6px rgba(0, 0, 0, 0.81);
}

.dashboardbox img{
    display:flex;
    position: absolute;
    z-index:2;
    opacity:0.2;
}

.menu-content {
            top: 60px;
            left: 4px;
            z-index: 10;
            transition: opacity 0.3s ease, transform 0.3s ease;
            opacity: 0;
            transform: translateY(-20px);
        }
        .menu-content.show {
            opacity: 1;
            transform: translateY(0);
        }
     

.scrolling{
    overflow: auto;
}

.dashTitle{
  font-weight:bold;
  font-size:30px;
}

.dashContent label{
  font-weight:bold;
  font-size:25px;
}

.dashContent p{
  font-size:25px;
}
#divContent h1{
  margin:5px;
}

/* Content area styles */
#divContent {
  position: fixed;
  top: 90px;
  right: 5px;
  height: calc(100% - 95px);
  width: calc(100% - (50vh - 95px) - 15px);
  padding: 20px;
  border-radius: 10px;
  overflow: auto;
  transition: width 0.3s ease;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  user-select: none;
}


/* Adjusted width when sidebar is hidden */
#divContent.sidebar-adjusted {
  width: calc(100% - 10px); /* Full width when sidebar is hidden */
}

.menuBtn{
  margin-top: 80px;
  width: 100%;
  height: calc(100% - 90px);
  overflow: auto;
}

/* sidebar styles */
.sidebar {
  overflow: auto;
  font-size: 2vh;
  box-sizing: border-box;
  padding: 10px;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 5px;
  height: calc(100% - 95px);
  width: calc(46vh - 70px);
  margin-top: 90px;
  border-radius: 10px;
  transform: translateX(0); 
  opacity: 1; 
  transition: transform 0.3s ease, opacity 0.3s ease; 
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);

}

.sidebar.sidebar-hidden {
  transform: translateX(-100%);
  opacity: 0; 
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 5px 0;
}

.sidebar ul li a {
	font-size:14px;
    text-decoration: none;
    display: block;
    padding: 5px;
    border-radius: 4px;
    margin-left: 34px;
}


/*TOP BAR*/
.topbar {
  position: fixed;
  top: 10px;
  width: calc(100% - 10px);
  margin-left: 5px;
  margin-right: 20px;
  height: 70px;
  display: flex;
  align-items: center;
  z-index: 8;
  user-select: none;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);

}
.topbar-right{
  position: absolute; 
  right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

.topbar-left{
  justify-content: flex-start;
}
.topbar-right button {
    padding: 10px;
    font-size: 18px;
    font-weight:bold;
    border-radius: 4px;
}

.topbar-right button:hover {
    background-color: #ff0000;
}

/* Modal transitions */
dialog.showing {
  animation: fadeIn 0.3s forwards;
}

dialog.closing {
  animation: fadeOut 0.3s forwards;
}

/* Fade-in and fade-out animations */
.fade-in {
    animation: fadeIn 0.5s forwards;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  from { opacxity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes fadeOut {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0.9); }
}

/* Additional styles if needed */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

 /*  .relative:hover .dropdown-content,
  .relative:focus-within .dropdown-content {
    display: block;
  } */
  
 